<div class="row">

  <div class="col s6">
    <div class="card white darken1 hoverable">
      <div class="card-content dark-text modal-trigger" href="#modalCreate">
        <span class="card-title">
            Welcome {{ ::name }} [[name]]
        </span>
        <span class="card-body">
          <img class="responsive-img" src="images/profile_img.jpg"/>
          <p>
            This is your front page. From here you can view your own cats, or view the cats that others have uploaded.
          </p>
        </span>
    </div>
  </div>
  </div>

<div class="col s6">
    <div class="card white darken1 hoverable  waves-effect waves-green lighten-1">
      <div class="card-content dark-text modal-trigger" href="#modalCreate">
        <span class="card-title">
            Your cats
            <span class="new badge green darken-1">4</span>
        </span>
        <span class="card-body">
          <p>
            This will show your cats, and the ones you have rated.
          </p>
        </span>
    </div>
  </div>
</div>

<div class="col s6">
  <div class="card white darken1 hoverable waves-effect waves-green lighten-1">
    <div class="card-content dark-text modal-trigger" href="#modalCreate">
      <span class="card-title">
          View cats
      </span>
      <span class="card-body">
        <p>
          This will show other people's cats, and you will be able to rate them.
        </p>
      </span>
  </div>
</div>
</div>

<div class="col s6">
  <div class="card white darken1 hoverable">
    <div class="card-content dark-text modal-trigger" href="#modalCreate">
      <span class="card-title">
          Cat feed
      </span>
      <span class="card-body">
        <p>
          This is a live feed which will show newly rated and created cats.
        </p>
      </span>
  </div>
</div>
</div>

</div>
