<div class="container">
    <div class="container">
      <div class="card white darken1 hoverable">
        <div class="card-content dark-text">
          <span class="card-title">
              Login
          </span>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 center-align">
              <a class="waves-effect waves-light btn-large" ui-sref="index">Login</a>
            </div>
          </div>
        </div>
        <div class="card-action right-align">
          Don't have an account? <a class="blue-text" ui-sref="signup">Create one</a>
        </div>
      </div>
    </div>
</div>
